.edit {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.edit form {
  width: 250px;
  margin: 0 auto;
}
form .edit__percentage {
  margin: 0 auto;
  margin-top: 20px;
}
.edit__percentage label {
  width: 40px;
  font-size: 1rem;
}
.edit__percentage input {
  width: 200px;
  height: 40px;
  font-size: 1rem;
}
.button__submit {
  margin-left: 100px;
  margin-top: 20px;
}
